html {
    background-color: #141414;
    /* background-color: #292c35; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main__h1 {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}

.main__sub-heading {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 1rem;
    padding-top: 0;
    margin-top: 0;
}

.ancients-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.ancient {
    width: 24%;
    height: fit-content;
    box-shadow: inset 0 0 8px #141414;   
}

.diff-description {
    color: white;
}

.game {
    display: flex;
    width: 90%;
}


/* game */

.deck-config {
    display: inline-flex;
    gap: 1rem;
    flex-direction: column;
    margin: 1rem;
}

.deck-config__stage {
    display: flex;
    gap: 0.5rem;
}

.stage__item {
    padding: 4px 8px;
    border-radius: 4px;
}

.stage__green {
    background-color: green;
}

.stage__brown {
    background-color: brown;
}

.stage__blue {
    background-color: cornflowerblue;
}

.stage__name {
    background-color: gainsboro;
    padding: 3px 6px;
}

.shuffle-deck,
.diff-btns {
    visibility: hidden;
    opacity: 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.visible {
    visibility: visible;
    opacity: 1;
    position: initial;
}